.categorias{

  h4{
  color: $marrom;
   font-family: 'Poppins';
   font-weight: bold;
   margin-bottom: 10px;
  }

  a{
    font-family: 'Poppins';
    border-radius: 10px;
    border: none;
  }

  

  
}
