header{
  background: $cor-secundaria;
  padding: 20px;

  form{
    input[type="text"]{
      background: $branco;
      width: 100%;
      border-radius: 5px;
      border: 2px solid $marrom;
      padding: 10px 20px;
    }
    
    button{
      background: none;
      border: none;
      position: absolute;
      right: 25px;
    }
  }

  ul{
    li{
      position: relative;
      a{
        font-family: 'Poppins';
        font-size:13px;
        color: $marrom;
      }
    }
  }
}