.newsletter{
  
  img{
    margin-left: 10%;
  }
  a{
    margin-right: 10%;
  }
  .news{
    background-color: #F9E0E4;
  }

  h5{
  color: $marrom;
   font-family: 'Poppins';
   font-weight: bold;
   padding: 10px;
  }

  a{
    font-family: 'Poppins';
    border-radius: 10px;
    border: none;
  }

  input{margin: 10px;}

  .wave{
    height: 50px;
    position: relative;  
  }
 
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-size: 20px 40px;
    background-image:
      radial-gradient(circle at 10px -15px, transparent 20px, #F9E0E4 21px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-size: 40px 40px;
    background-image:
      radial-gradient(circle at 10px 26px, #F9E0E4 20px, transparent 21px);
  }

  

  
}
