.produtos{
  
  
  .wave{
    height: 50px;
    position: relative;  
  }
 
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7px;
    background-size: 20px 40px;
    background-image:
      radial-gradient(circle at 10px -15px, transparent 20px, $cor-secundaria 21px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-size: 40px 40px;
    background-image:
      radial-gradient(circle at 10px 26px, $cor-secundaria 20px, transparent 21px);
  }
  .products{
    background: $cor-secundaria;
  }

  a{
    background-color: #FBFAF8;
    border: 2px solid #F6F3EF;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px
  }

  h6{
    color: $marrom;
   font-family: 'Poppins';
   font-size: 12px;
   font-weight: bold;
  }

  h4{
  color: $marrom;
   font-family: 'Poppins';
   font-weight: bold;
   margin-bottom: 10px;
  }

  .badge{
    background: $cor-primaria;
    margin-left: 25%;
    width: 50%;
  }

  s{
    color: $marrom;
    font-size: 10px;
    width: 30%;
    margin-left: 35%;
  }

  strong{
    color: $cor-primaria;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 37px;
  }

  .btn{
    background-color: $cor-primaria;
    font-family: Poppins;
    color: white;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
  }
}
